@import "colors";
@import "fonts";

@include tablet {
  .text-information {
    text-align: -webkit-center;

    .text-information__heading {
      font-size: 2.5rem;
      font-weight: $fw-bold;
      color: $very-dark-desaturated-violet;
      text-align: center;
      margin-top: 4.375rem;
    }

    .text-information__paragraph {
      line-height: 28px;
      color: $dark-grayish-violet;
      text-align: center;
      padding: 2rem;
    }
  }
}
