@import "colors";
@import "fonts";
@import "media-queries";

@include mobile {
  .phone {
    width: 15.4375rem;
    height: 31.5625rem;
    background-color: $white;
    padding: 11px 10px;
    text-align: -webkit-center;
    border-radius: 1.875rem;
    position: absolute;
    top: 4.3215rem;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    .phone-top__rectange {
      width: 8.0625rem;
      height: 1.8125rem;
      background-color: $white;
      border-radius: 0 0 0.875rem 0.875rem;
      position: absolute;
      top: 1px;
      left: 3.75rem;
    }

    &__inner {
      width: 14.25rem;
      height: 30.1875rem;
      background-color: $light-grayish-violet;
      border-radius: 1.25rem;

      .chat-bio {
        width: 14.25rem;
        height: 4.125rem;
        background: linear-gradient(to right, $light-violet, $light-magenta);
        border-radius: 20px 20px 6px 6px;

        &__information {
          height: 100%;
          text-align: left;
          display: flex;

          .left-arrow__icon {
            i {
              margin-left: 1rem;
              color: $white;
              margin-top: 1rem;
            }
          }

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-top: 1.875rem;
            margin-left: 0.5rem;
            border: 1px solid $white;
          }

          .name-status {
            color: $white;
            margin-top: 1.875rem;
            margin-left: 0.5rem;

            &__name {
              font-size: 0.6875rem;
              font-weight: $fw-medium;
            }

            &__status {
              font-size: 0.5rem;
              color: $pale-violet;
              margin-top: 0.175rem;
            }
          }

          .dots-icon {
            margin-top: 1.875rem;
            margin-left: 4.75rem;
            color: $white;
          }
        }
      }

      .chat-text {
        padding: 0.75rem 0.5rem;

        .messages-received {
          text-align: left;

          &__text {
            background-color: #eee5f4;
            color: $moderate-violet;
            font-size: 0.5rem;
            width: 8rem;
            height: 2.125rem;
            padding: 0.5rem;
            border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
          }

          .text-longer__width {
            background-color: #eee5f4;
            color: $moderate-violet;
            font-size: 0.5rem;
            width: 8rem;
            height: 2.8125rem;
            padding: 0.5rem;
            border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
          }

          &__costs {
            background: linear-gradient(to left, $light-violet, $light-magenta);
            color: $white;
            font-size: 0.5rem;
            width: 10rem;
            height: 2rem;
            padding: 0.5rem;
            border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;

            ul {
              list-style-type: circle;
              font-size: 2.5rem;
              color: $pale-violet;
              margin-left: 2rem;
            }

            .cost-length {
              margin-right: 2.1875rem;
              font-weight: $fw-regular;
              height: 0.6875rem;
              width: 3.75rem;
            }

            .cost-price {
              font-size: 0.75rem;
              font-weight: $fw-bold;
              width: 1.5625rem;
              height: 0.6875rem;
            }
          }
        }

        .messages-sent {
          text-align: -webkit-right;

          &__images {
            margin-top: 1rem;
            width: 8.5rem;

            img {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 10px;
            }
          }

          &__text {
            background-color: $white;
            color: $desaturated-dark-violet;
            font-size: 0.5rem;
            text-align: left;
            width: 8rem;
            height: 2.125rem;
            padding: 0.5rem;
            border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
          }

          &__texttwo {
            background-color: $white;
            color: $desaturated-dark-violet;
            font-size: 0.5rem;
            text-align: left;
            width: 5rem;
            height: 1.4375rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
          }
        }

        .message-box {
          width: 13.3125rem;
          height: 1.5rem;
          background-color: $white;
          border-radius: 1.25rem;

          &__text {
            margin-right: auto;

            p {
              color: $grayish-blue;
              font-size: 0.5625rem;
              margin-left: 1.1875rem;
            }
          }

          .right-arrow__icon {
            i {
              color: $very-dark-desaturated-violet;
              margin-right: 0.3125rem;
            }
          }
        }
      }
    }
  }
}
