@media screen and (min-width: 1300px) {
  .phone {
    width: 15.4375rem;
    height: 31.5625rem;
    background-color: white;
    padding: 11px 10px;
    text-align: -webkit-center;
    border-radius: 1.875rem;
    position: absolute;
    top: 9.3125rem;
    left: 23.0625rem;
    z-index: 1;
  }
  .phone .phone-top__rectange {
    width: 8.0625rem;
    height: 1.8125rem;
    background-color: white;
    border-radius: 0 0 0.875rem 0.875rem;
    position: absolute;
    top: 1px;
    left: 3.75rem;
  }
  .phone__inner {
    width: 14.25rem;
    height: 30.1875rem;
    background-color: #f5f3f7;
    border-radius: 1.25rem;
  }
  .phone__inner .chat-bio {
    width: 14.25rem;
    height: 4.125rem;
    background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to right, #8838ff, #e942ff);
    border-radius: 20px 20px 6px 6px;
  }
  .phone__inner .chat-bio__information {
    height: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .phone__inner .chat-bio__information .left-arrow__icon i {
    margin-left: 1rem;
    color: white;
    margin-top: 1rem;
  }
  .phone__inner .chat-bio__information img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 1.875rem;
    margin-left: 0.5rem;
    border: 1px solid white;
  }
  .phone__inner .chat-bio__information .name-status {
    color: white;
    margin-top: 1.875rem;
    margin-left: 0.5rem;
  }
  .phone__inner .chat-bio__information .name-status__name {
    font-size: 0.6875rem;
    font-weight: 500;
  }
  .phone__inner .chat-bio__information .name-status__status {
    font-size: 0.5rem;
    color: #d89eff;
    margin-top: 0.175rem;
  }
  .phone__inner .chat-bio__information .dots-icon {
    margin-top: 1.875rem;
    margin-left: 4.75rem;
    color: white;
  }
  .phone__inner .chat-text {
    padding: 0.75rem 0.5rem;
  }
  .phone__inner .chat-text .messages-received {
    text-align: left;
  }
  .phone__inner .chat-text .messages-received__text {
    background-color: #eee5f4;
    color: #9241c8;
    font-size: 0.5rem;
    width: 8rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received .text-longer__width {
    background-color: #eee5f4;
    color: #9241c8;
    font-size: 0.5rem;
    width: 8rem;
    height: 2.8125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received__costs {
    background: -webkit-gradient(linear, right top, left top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to left, #8838ff, #e942ff);
    color: white;
    font-size: 0.5rem;
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received__costs ul {
    list-style-type: circle;
    font-size: 2.5rem;
    color: #d89eff;
    margin-left: 2rem;
  }
  .phone__inner .chat-text .messages-received__costs .cost-length {
    margin-right: 2.1875rem;
    font-weight: 400;
    height: 0.6875rem;
    width: 3.75rem;
  }
  .phone__inner .chat-text .messages-received__costs .cost-price {
    font-size: 0.75rem;
    font-weight: 700;
    width: 1.5625rem;
    height: 0.6875rem;
  }
  .phone__inner .chat-text .messages-sent {
    text-align: -webkit-right;
  }
  .phone__inner .chat-text .messages-sent__images {
    margin-top: 1rem;
    width: 8.5rem;
  }
  .phone__inner .chat-text .messages-sent__images img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
  }
  .phone__inner .chat-text .messages-sent__text {
    background-color: white;
    color: #6e5d7e;
    font-size: 0.5rem;
    text-align: left;
    width: 8rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
  }
  .phone__inner .chat-text .messages-sent__texttwo {
    background-color: white;
    color: #6e5d7e;
    font-size: 0.5rem;
    text-align: left;
    width: 5rem;
    height: 1.4375rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
  }
  .phone__inner .chat-text .message-box {
    width: 13.3125rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 1.25rem;
  }
  .phone__inner .chat-text .message-box__text {
    margin-right: auto;
  }
  .phone__inner .chat-text .message-box__text p {
    color: #c6cacd;
    font-size: 0.5625rem;
    margin-left: 1.1875rem;
  }
  .phone__inner .chat-text .message-box .right-arrow__icon i {
    color: #3e2753;
    margin-right: 0.3125rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1299px) {
  .phone {
    width: 15.4375rem;
    height: 31.5625rem;
    background-color: white;
    padding: 11px 10px;
    text-align: -webkit-center;
    border-radius: 1.875rem;
    position: absolute;
    top: 4.3215rem;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .phone .phone-top__rectange {
    width: 8.0625rem;
    height: 1.8125rem;
    background-color: white;
    border-radius: 0 0 0.875rem 0.875rem;
    position: absolute;
    top: 1px;
    left: 3.75rem;
  }
  .phone__inner {
    width: 14.25rem;
    height: 30.1875rem;
    background-color: #f5f3f7;
    border-radius: 1.25rem;
  }
  .phone__inner .chat-bio {
    width: 14.25rem;
    height: 4.125rem;
    background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to right, #8838ff, #e942ff);
    border-radius: 20px 20px 6px 6px;
  }
  .phone__inner .chat-bio__information {
    height: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .phone__inner .chat-bio__information .left-arrow__icon i {
    margin-left: 1rem;
    color: white;
    margin-top: 1rem;
  }
  .phone__inner .chat-bio__information img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 1.875rem;
    margin-left: 0.5rem;
    border: 1px solid white;
  }
  .phone__inner .chat-bio__information .name-status {
    color: white;
    margin-top: 1.875rem;
    margin-left: 0.5rem;
  }
  .phone__inner .chat-bio__information .name-status__name {
    font-size: 0.6875rem;
    font-weight: 500;
  }
  .phone__inner .chat-bio__information .name-status__status {
    font-size: 0.5rem;
    color: #d89eff;
    margin-top: 0.175rem;
  }
  .phone__inner .chat-bio__information .dots-icon {
    margin-top: 1.875rem;
    margin-left: 4.75rem;
    color: white;
  }
  .phone__inner .chat-text {
    padding: 0.75rem 0.5rem;
  }
  .phone__inner .chat-text .messages-received {
    text-align: left;
  }
  .phone__inner .chat-text .messages-received__text {
    background-color: #eee5f4;
    color: #9241c8;
    font-size: 0.5rem;
    width: 8rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received .text-longer__width {
    background-color: #eee5f4;
    color: #9241c8;
    font-size: 0.5rem;
    width: 8rem;
    height: 2.8125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received__costs {
    background: -webkit-gradient(linear, right top, left top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to left, #8838ff, #e942ff);
    color: white;
    font-size: 0.5rem;
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received__costs ul {
    list-style-type: circle;
    font-size: 2.5rem;
    color: #d89eff;
    margin-left: 2rem;
  }
  .phone__inner .chat-text .messages-received__costs .cost-length {
    margin-right: 2.1875rem;
    font-weight: 400;
    height: 0.6875rem;
    width: 3.75rem;
  }
  .phone__inner .chat-text .messages-received__costs .cost-price {
    font-size: 0.75rem;
    font-weight: 700;
    width: 1.5625rem;
    height: 0.6875rem;
  }
  .phone__inner .chat-text .messages-sent {
    text-align: -webkit-right;
  }
  .phone__inner .chat-text .messages-sent__images {
    margin-top: 1rem;
    width: 8.5rem;
  }
  .phone__inner .chat-text .messages-sent__images img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
  }
  .phone__inner .chat-text .messages-sent__text {
    background-color: white;
    color: #6e5d7e;
    font-size: 0.5rem;
    text-align: left;
    width: 8rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
  }
  .phone__inner .chat-text .messages-sent__texttwo {
    background-color: white;
    color: #6e5d7e;
    font-size: 0.5rem;
    text-align: left;
    width: 5rem;
    height: 1.4375rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
  }
  .phone__inner .chat-text .message-box {
    width: 13.3125rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 1.25rem;
  }
  .phone__inner .chat-text .message-box__text {
    margin-right: auto;
  }
  .phone__inner .chat-text .message-box__text p {
    color: #c6cacd;
    font-size: 0.5625rem;
    margin-left: 1.1875rem;
  }
  .phone__inner .chat-text .message-box .right-arrow__icon i {
    color: #3e2753;
    margin-right: 0.3125rem;
  }
}

@media screen and (max-width: 480px) {
  .phone {
    width: 15.4375rem;
    height: 31.5625rem;
    background-color: white;
    padding: 11px 10px;
    text-align: -webkit-center;
    border-radius: 1.875rem;
    position: absolute;
    top: 4.3215rem;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .phone .phone-top__rectange {
    width: 8.0625rem;
    height: 1.8125rem;
    background-color: white;
    border-radius: 0 0 0.875rem 0.875rem;
    position: absolute;
    top: 1px;
    left: 3.75rem;
  }
  .phone__inner {
    width: 14.25rem;
    height: 30.1875rem;
    background-color: #f5f3f7;
    border-radius: 1.25rem;
  }
  .phone__inner .chat-bio {
    width: 14.25rem;
    height: 4.125rem;
    background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to right, #8838ff, #e942ff);
    border-radius: 20px 20px 6px 6px;
  }
  .phone__inner .chat-bio__information {
    height: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .phone__inner .chat-bio__information .left-arrow__icon i {
    margin-left: 1rem;
    color: white;
    margin-top: 1rem;
  }
  .phone__inner .chat-bio__information img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 1.875rem;
    margin-left: 0.5rem;
    border: 1px solid white;
  }
  .phone__inner .chat-bio__information .name-status {
    color: white;
    margin-top: 1.875rem;
    margin-left: 0.5rem;
  }
  .phone__inner .chat-bio__information .name-status__name {
    font-size: 0.6875rem;
    font-weight: 500;
  }
  .phone__inner .chat-bio__information .name-status__status {
    font-size: 0.5rem;
    color: #d89eff;
    margin-top: 0.175rem;
  }
  .phone__inner .chat-bio__information .dots-icon {
    margin-top: 1.875rem;
    margin-left: 4.75rem;
    color: white;
  }
  .phone__inner .chat-text {
    padding: 0.75rem 0.5rem;
  }
  .phone__inner .chat-text .messages-received {
    text-align: left;
  }
  .phone__inner .chat-text .messages-received__text {
    background-color: #eee5f4;
    color: #9241c8;
    font-size: 0.5rem;
    width: 8rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received .text-longer__width {
    background-color: #eee5f4;
    color: #9241c8;
    font-size: 0.5rem;
    width: 8rem;
    height: 2.8125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received__costs {
    background: -webkit-gradient(linear, right top, left top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to left, #8838ff, #e942ff);
    color: white;
    font-size: 0.5rem;
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.3125rem;
  }
  .phone__inner .chat-text .messages-received__costs ul {
    list-style-type: circle;
    font-size: 2.5rem;
    color: #d89eff;
    margin-left: 2rem;
  }
  .phone__inner .chat-text .messages-received__costs .cost-length {
    margin-right: 2.1875rem;
    font-weight: 400;
    height: 0.6875rem;
    width: 3.75rem;
  }
  .phone__inner .chat-text .messages-received__costs .cost-price {
    font-size: 0.75rem;
    font-weight: 700;
    width: 1.5625rem;
    height: 0.6875rem;
  }
  .phone__inner .chat-text .messages-sent {
    text-align: -webkit-right;
  }
  .phone__inner .chat-text .messages-sent__images {
    margin-top: 1rem;
    width: 8.5rem;
  }
  .phone__inner .chat-text .messages-sent__images img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
  }
  .phone__inner .chat-text .messages-sent__text {
    background-color: white;
    color: #6e5d7e;
    font-size: 0.5rem;
    text-align: left;
    width: 8rem;
    height: 2.125rem;
    padding: 0.5rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
  }
  .phone__inner .chat-text .messages-sent__texttwo {
    background-color: white;
    color: #6e5d7e;
    font-size: 0.5rem;
    text-align: left;
    width: 5rem;
    height: 1.4375rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.625rem;
  }
  .phone__inner .chat-text .message-box {
    width: 13.3125rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 1.25rem;
  }
  .phone__inner .chat-text .message-box__text {
    margin-right: auto;
  }
  .phone__inner .chat-text .message-box__text p {
    color: #c6cacd;
    font-size: 0.5625rem;
    margin-left: 1.1875rem;
  }
  .phone__inner .chat-text .message-box .right-arrow__icon i {
    color: #3e2753;
    margin-right: 0.3125rem;
  }
}

@media screen and (min-width: 1300px) {
  .text-information {
    height: 100%;
  }
  .text-information .text-information__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3e2753;
    margin-bottom: 2.625rem;
  }
  .text-information .text-information__paragraph {
    width: 27.8125rem;
    line-height: 28px;
    color: #a39daa;
  }
}

@media screen and (min-width: 481px) and (max-width: 1299px) {
  .text-information {
    height: 100%;
  }
  .text-information .text-information__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3e2753;
    text-align: center;
    margin-top: 4.375rem;
  }
  .text-information .text-information__paragraph {
    line-height: 28px;
    color: #a39daa;
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .text-information__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3e2753;
    text-align: center;
    margin-top: 8.375rem;
  }
}

@media screen and (max-width: 480px) {
  .text-information {
    height: 100%;
  }
  .text-information .text-information__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3e2753;
    text-align: center;
    margin-top: 4.375rem;
  }
  .text-information .text-information__paragraph {
    line-height: 28px;
    color: #a39daa;
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 6rem;
  }
  .attribution a {
    color: #3e52a3;
  }
}

@media screen and (min-width: 481px) and (max-width: 1299px) {
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 6rem;
  }
  .attribution a {
    color: #3e52a3;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f3f7;
  font-family: "Mulish", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

.container {
  width: 100%;
  height: 100vh;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .display-block__information {
    width: 311px;
    position: relative;
    display: block;
    margin-top: 40.0625rem;
    z-index: 1;
  }
}

@media screen and (min-width: 481px) and (max-width: 1299px) {
  .display-block__information {
    width: 311px;
    position: relative;
    display: block;
    margin-top: 40.0625rem;
    z-index: 1;
  }
}

@media screen and (min-width: 1300px) {
  .display-block__information {
    display: block;
    margin-left: 400px;
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .left-background__style {
    width: 11.75rem;
    height: 31.125rem;
    background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to right, #8838ff, #e942ff);
    border-radius: 0 0 225px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .right-background__style {
    width: 11.75rem;
    height: 31.125rem;
    background-color: #d89eff1a;
    border-radius: 225px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 1299px) {
  .left-background__style {
    width: 11.75rem;
    height: 31.125rem;
    background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to right, #8838ff, #e942ff);
    border-radius: 0 0 225px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .right-background__style {
    width: 11.75rem;
    height: 31.125rem;
    background-color: #d89eff1a;
    border-radius: 225px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 1300px) {
  .left-background__style {
    width: 26.25rem;
    height: 43.75rem;
    background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
    background: linear-gradient(to right, #8838ff, #e942ff);
    border-radius: 0 0 255px 255px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .right-background__style {
    width: 26.25rem;
    height: 100%;
    background-color: #d89eff1a;
    border-radius: 255px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
